<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Contact Form Template</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/src/assets/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/src/assets/scss/form-elements1.css">
    <link rel="stylesheet" href="/src/assets/scss/style1.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/src/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/src/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/src/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/src/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/src/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
    <hr>
    <br>

    <!-- Top content -->
    <div class="top-content">
      
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>TV Shark</strong> Contact Form</h1>
                        <div class="description">
                          <p>
                            Fill the below form to contact us. We will get back to you with in 24 hours.
                          </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                      <div class="form-top">
                        <div class="form-top-left">
                          <h3>Contact us</h3>
                            <p>Fill in the form below</p>
                        </div>
                        <div class="form-top-right">
                          <i class="fa fa-envelope"></i>
                        </div>
                        </div>
                        <div class="form-bottom contact-form">
                      <form role="form" action="assets/contact.php" method="post">
                        <div class="form-group">
                          <label class="sr-only" for="contact-email">Email</label>
                            <input type="text" name="email" placeholder="Email..." class="contact-email form-control" id="contact-email">
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="contact-subject">Subject</label>
                            <input type="text" name="subject" placeholder="Subject..." class="contact-subject form-control" id="contact-subject">
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="contact-message">Message</label>
                            <textarea name="message" placeholder="Message..." class="contact-message form-control" id="contact-message"></textarea>
                          </div>
                          <button type="submit" class="btn-primary">Send message</button>
                          <br>
                          <br>
                      </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <hr>

    <!-- Javascript -->
    <script src="/src/assets/scripts/jquery.backstretch.min.js"></script>
    <script src="/src/assets/scripts/retina-1.1.0.min.js"></script>
    <script src="/src/assets/scripts/scripts.js"></script>
    
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>
