<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movie Shark</title>
  

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#" routerLink="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" *ngIf="!authService.isAuthenticated()"  routerLink="/signup">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" *ngIf="authService.isAuthenticated()"  routerLink="/dashboard">My Tvshark</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" *ngIf="authService.isAuthenticated()" (click)="onLogout()" routerLink="/">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!authService.isAuthenticated()" routerLink="/signin">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 *ngIf="!authService.isAuthenticated()" class="masthead-heading mb-0">TV Shark</h1>
        <h2 *ngIf="!authService.isAuthenticated()" class="masthead-subheading mb-0">Find Info about your favourite shows</h2>
        <h1 *ngIf="authService.isAuthenticated()" class="masthead-heading mb-0">Welcome</h1>
        <h2 *ngIf="authService.isAuthenticated()" class="masthead-subheading mb-0">Happy to see you again</h2>
        <a href="#" routerLink="/search" class="btn btn-primary btn-xl rounded-pill mt-5">Search TV Shows</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <div class="container">
      <br>
      <router-outlet></router-outlet>

  </div>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; TV Shark 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <script src="/src/assets/scripts/jquery.fullbg.js"></script>

  <!-- Bootstrap core JavaScript -->

</body>

