  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Show Display</title>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container"  >

        <!-- Introduction Row -->
        <h1 class="my-4">Latest TV Shows
          <small>Binge watch starts here</small>
        </h1>
        <p>Click on movie to see more information</p>
  
        <!-- Movies list -->
        <div class="row">
          <div class="col-lg-12">
            <h2 class="my-4">Now Playing</h2>
            <pagination-controls (pageChange)="page = $event" id="1"
  
            maxSize="8"
    
            directionLinks="true"
    
            autoHide="true">
    
           </pagination-controls>
          </div>
         
         
          <div class="col-lg-4 col-sm-6 text-center mb-4" *ngFor="let movie of movies | paginate: {itemsPerPage: 9, currentPage:page, id: '1'}; let i = index">
            
            <img class="lazyload" src="{{movie.image.medium}}" alt="" (click)="moreInfo(movie.id)">
            <h3>{{movie.name}}</h3>
            <br>
            <h2>Rating: <small>{{movie.rating.average}}</small></h2> 
            <br>
            <p>Language: {{movie.language}}</p>
          </div>
          <pagination-controls (pageChange)="page = $event" id="1"
  
          maxSize="8"
  
          directionLinks="true"
  
          autoHide="true">
  
         </pagination-controls>`
        </div>
  
      </div>
  </body>

